.flex-dashboard{
    display:flex;
    flex-direction:row;
    height:100%;
    width:100%;
}

sidebar {
    display:block;
    height:100%;
    width:300px;
    background-color: #fff;
}

sidebar .sidebar-title{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding:10px 30px;
    height: 90px;
    border: 1px solid rgba(0,0,0,.0625);
    border-right: 0px;
}

sidebar .sidebar-title img{
    height:40px;
    width:40px;
}

sidebar .sidebar-title h2{
    font-size: 16px;
    margin-top:8px;
}

sidebar .menu{
    border-right: 1px solid rgba(0,0,0,.0625);
}

sidebar .menu ul{
    width:100%;
    list-style: none;
    padding-left:0;
}

sidebar .menu ul li{
    width:100%;
    padding: 20px 20px;

    display:flex;
    flex-direction: row;
    align-items: center;
}

sidebar .menu ul li i{
    color: #6e8efb;
    font-size:25px;
}

sidebar .menu ul li a{
    color: #72777a;
    margin-left:20px;
    text-decoration:none;
    text-transform: uppercase;
    transition: color 0.2s;
}

sidebar .menu ul li a:hover{
    color:#4d4d4d;
}